<div ng-cloak style='margin-top: 45px'>
  <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>
  
  <md-whiteframe class="md-whiteframe-6dp black" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <ul>
      <li class='white-text'>ORIGIN:</li>
      <li class='white-text'>DESTINATION:</li>
      <li class='white-text'>FLIGHTTIME:</li>
      <li class='white-text'>OFFSET:</li>
    </ul>

  </md-whiteframe>
  <div style='width:20px'></div>
  <md-whiteframe class="md-whiteframe-6dp black" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span class='white-text'>.md-whiteframe-2dp</span>
  </md-whiteframe>

  </div>
</div>

</br></br>
<md-button  ui-sref='splashALT'>[ BACK ]</md-button>
