<div ng-cloak style='margin-top: 45px'>
  <md-content class='see-through-black'>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Direct">
        <md-content class="md-padding see-through-black">
          <h1 class="md-display-2">Direct Flights <md-button ui-sref='splashALT'>[ BACK ]</md-button> </h1>
  <span>

      <div layout="row" layout-align="space-between center">


          <md-button ng-click='ctrl.getFlights()'>[ REFRESH ]</md-button>
        <md-select ng-model="originfilter" placeholder="Origin" class="md-no-underline">
          <md-option><em></em></md-option>
            <md-option ng-repeat="city in ctrl.origins" ng-value="city" ng-disabled="$index === 1">
              {{city}}
            </md-option>
        </md-select>
        <md-select ng-model="destinationfilter" placeholder="Destination" class="md-no-underline">
          <md-option><em></em></md-option>
            <md-option ng-repeat="city in ctrl.destinations" ng-value="city" ng-disabled="$index === 1">
              {{city}}
            </md-option>
        </md-select>
      </div>
  </span>

  <div layout="column" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>
  <span>
  <md-whiteframe ng-repeat='flight in ctrl.flights | orderBy:"offset" | filter:{origin: originfilter, destination: destinationfilter}' class="md-whiteframe-6dp black" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
  <span>
    <ul>
      <li class='white-text'>Origin: {{flight.origin}}</li>
      <li class='white-text'>Destination: {{flight.destination}}</li>
      <li class='white-text'>Flighttime: {{flight.flightTime}}</li>
      <li class='white-text'>Offset: {{flight.offset}}</li>
    </ul>
    <md-button ng-show='ctrl.getLoggedIn()' class='md-fab cart-button' aria-label='fly' style='background-color:blue; font-size:38px; font-align: center; right:0px; position:absolute'><i class='material-icons'>flight</i></md-button>
  </span>
  </md-whiteframe>
  <div style='width:20px'></div>
  <md-whiteframe ng-show='!ctrl.getLoggedIn()' class="md-whiteframe-6dp black" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <span class='white-text'>
      <md-button ui-sref='login'>Login to search</md-button>
      <md-button ui-sref='register'>New? Register!</md-button>
    </span>
  </md-whiteframe>
</span>
  </div>
</md-content>
</md-tab>
<md-tab label="Indirect">
  <md-content class="md-padding see-through-black">
    <h1 class="md-display-2">Indirect Flights <md-button ui-sref='splashALT'>[ BACK ]</md-button></h1>
  </md-content>
</md-tab>
<md-tab label="Map">
  <md-content class="md-padding see-through-black">
    <h1 class="md-display-2">Selected Itinerary <md-button ui-sref='splashALT'>[ BACK ]</md-button></h1>
      <md-button ui-sref='map'>Go to Map</md-button>
  </md-content>
</md-tab>
</md-content>
</div>


</br></br>
