<p>Really? You wondered about the legality of tethering
  hand-gliders to a jet? Well thank you for your interest.
  But honestly... it's just a bad idea, legal or not.</p>

  <p>Just to recap: Your face would catch on fire, and/or
  the glider itself, and if you hit the ground before you
  disintegrate, you'll surely be a mere person puddle. Gruesome.
  So just don't do it.</p>

  <p>Please BYOI (bring your own insurance)</p>

  <p>To purchase equipment, please visit our shop!</p>

</br></br>
<md-button  ui-sref='splashALT'>[ BACK ]</md-button>
